In [7]:
try:
    import pandas as pd
except: 
    !pip install pandas --quiet
    import pandas as pd

In [8]:
train_df = pd.read_csv('train.csv')

In [9]:
#intial length of dataset
print(f"intial length of dataset {len(train_df)}",'\n')

#remove columns that are highly unqiue (name and ID)
train_df=train_df.drop(columns=["Name","PassengerId"])

#handle duplicate rows
#check intial number of duplicates
print(f"intial num dups: {train_df.duplicated().sum()}")
#remove duplicates
train_df = train_df.drop_duplicates()
#show the new number of duplicates
print(f"new num dups: {train_df.duplicated().sum()}",'\n')

#handle NaN values
#check intial number of NaN
print(f"intial num NaN:{train_df.isna().sum()}")
#remove NaN values
train_df.dropna(inplace=True)
#show new number of NaN values
print(f"new num NaN:{train_df.isna().sum()}",'\n')

#fix index on dataframe
train_df.reset_index(drop=True)

#new length of dataset
print(f"new length of dataset {len(train_df)}",'\n')

intial length of dataset 8693

intial num dups: 15
new num dups: 0

intial num NaN:HomePlanet      201
CryoSleep       217
Cabin           193
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64
new num NaN:HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
dtype: int64

new length of dataset 6755

In [10]:
#current dataset (first 5 rows)
train_df.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True